.bg-img {
  background-image: url("../../../../assets/photos/5.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.about-section {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 64px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 16px 16px;
  box-sizing: border-box;
  box-sizing: inherit;
  margin: 10px 0;
  padding-left: 200px;
  padding-right: 200px;

}

@media screen and (max-width: 650px) {
  .about-section {
    width: 100%;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 30px 30px 30px;
  margin: 20px 30px 30px 30px;
}

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #0d0e0e;
  color: white;
}

.google {
  background-color: #fa270b;
  color: white;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

.hide-md-lg {
  display: none;
}

.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }

  .vl {
    display: none;
  }

  .hide-md-lg {
    display: block;
    text-align: center;
  }
}