<section>
  <app-header></app-header>
</section>

<div class="bg-img">
  <app-navbar></app-navbar>
</div>

<div class="about-section">
  <h1> <strong> Contact Us</strong></h1>
  <h2>
    Welcome to our team.
    <br>
    Find the best way for you to contact us:
    <br>
    <h3> <strong>email:</strong> jf.osma43@uniandes.edu.co<br> <a href="https://www.linkedin.com/groups/12827586/"
        target="_blank" class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> </h3>
    <a class="logo" href="#">
      <img src="../../../../assets/images/LogoUniandes.jpg" alt="logo" style="width:220px; margin: 10px; "
        class="justify-content-rigth">
    </a>
  </h2>
</div>

<div class="container">
  <a class="logo" href="#"><img src="../../../../assets/images/logobio2.png" alt="logo" style="width:400px;"> </a>
  <form action="/action_page.php">
    <div class="row">
      <div class="vl">
        <span class="vl-innertext">or</span>

      </div>

      <div class="col">
        <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW" class="fb btn" target="_blank">
          <i class="fa fa-facebook fa-fw"></i> Visit us on Facebook!
        </a>
        <a href="https://github.com/Biomicrosystems/" class="twitter btn" target="_blank">
          <i class="fa fa-github"></i> Visit us on Github!
        </a>
        <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A" class="google btn" target="_blank"><i
            class="fa fa-youtube-play">
          </i> Visit us on YouTube!
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
      </div>

    </div>
  </form>
</div>
<br>
<br>

<section>
  <app-footer></app-footer>
</section>