<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a routerLink ="home" routerLinkActive="active" class="active-link">Home</a>
      <a routerLink="/biomicrosystem/members"  routerLinkActive="active" class="active-link">Members</a>
      <a routerLink="/biomicrosystem/researchProjects"  routerLinkActive="active" class="active-link">Research areas and projects</a>
      <a routerLink="/biomicrosystem/contacs"  routerLinkActive="active" class="active-link">How to join us</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
