body {
    font-family: Arial, Helvetica, sans-serif
}

* {
    box-sizing: border-box;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
    padding-left: 50%;
  }

.bg-img {
    min-height: 380px;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .active {
    background-color: rgb(255, 210, 0);
  }




