<div class="row">
  <div class="column1">
    <h2 style="padding-left: 30px;">Adam Savage said:</h2>
    <div class="about">
      <p class="text-align: text-justify" style="padding-left: 30px;">"Humans do two things that make us unique from all
        other
        animals; we use tools and tell stories. And when you make something, you’re doing both at once."
        <br>
        That is a beautiful feeling. We create magic in every school lab, makerspace, and workshop we’ve visited. We
        love experiencing stories as oral tales, pictures and videos, or even in the form of tutorials. Here there is
        the start point for
        you to create your lab stories.
      </p>
      <br>
      <h3 style="padding-left: 30px;">WEBSITE CREDITS</h3>
      <h4 style="padding-left: 30px; margin-bottom: 1px;">Elaboration of the website</h4>
      <p style="padding-left: 30px;  margin-top: 1px; font-size:12px"> Maidy L. Cabrera Penna <br>
        m.cabrerap@uniandes.edu.co - <a href="https://www.linkedin.com/in/maidycabrera/" target="_blank"
          class="fa fa-linkedin" style="color: white;">&nbsp;&nbsp;LinkedIn </a>
      </p>
      <h5 style="padding-left: 30px; margin-bottom: 1px;"> Colaboration in the elaboration of the website</h5>
      <p style="padding-left: 30px;  margin-top: 1px; font-size:12px"> Felipe A. Mesa Niño<br>
        f.mesan@uniandes.edu.co - <a href="https://www.linkedin.com/in/felipe-mesa-b74381257" target="_blank"
          class="fa fa-linkedin" style="color: white;">&nbsp;&nbsp;LinkedIn </a>
      </p>
    </div>
  </div>

  <div class="column2">
    <br>
    <h2 style="padding-left: 30px; text-align: center;">QR AND GITHUB</h2>
    <p class="text-align: text-justify" style="padding-left: 30px;">For each device, there is a file uploaded to Github
      that complements the information of the chapter. In each file you are going to find the technical drawings, coding, PCBs and any
      aditional file that you need to download to successfully build your own lab.</p>

    <br>
    <div class="github-footers-content-qr-icon2" style="text-align: center;">
      <img src="../../../../assets/images/qrgihub.png" alt="logo" style="width:250px; ">
    </div>

    <div class="icon-bar">
      <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play">&nbsp;&nbsp;&nbsp;</i></a>
      <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github">&nbsp;&nbsp;&nbsp;</i></a>
      <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i class="fa fa-facebook"></i></a>
    </div>

    <h6 style="padding-left: 30px; margin-bottom: 1px;">Icons and documentation:</h6>
    <div style="display: flex; align-items: center; ">
      <p style="padding-left: 30px; font-size:12px;  margin-top: 1px;">The icons are from <a
        href="https://fontawesome.com/license" target="_blank" rel="noopener">Font Awesome</a></p> 
    <p style="padding-left: 30px; font-size:12px;  margin-top: 1px;">Documentation Based in <a
        href="https://www.w3schools.com" target="_blank" rel="noopener">W3Schools</a></p>
    </div>
     
  </div>
</div>

<div class="derechos_reservados">
  <br>
  <br>
  <br>
  <br>
  <p>Todos los derechos reservados &copy; 2023</p>
</div>