<div class="container_footer">
  <div class="container_footer_colum">
    <a class="logo" href="#">
      <img src="../../../../assets/images/LogoUniandesL.jpg" alt="logo" style="width:130px; margin: 10px; "
        class="justify-content-rigth">
    </a>
    <hr class="div-line">
    <span>Cra. 1e No. 19a - 70</span> <br>
    <span>Ed. Mario Laserna ML-06</span> <br>
    <span>Bogotá, Colombia</span> <br>
    <span>Cód. Postal: 111711</span> <br>
    <span>+(571) 339 49 49</span> <br>

  </div>

  <div class="container_footer_colum">
    <hr class="div-line">
    <h6>NORMATIVIDAD INSTITUCIONAL</h6>
    <span><a href="https://uniandes.edu.co/es/transparencia-y-acceso-informaci%C3%B3n-p%C3%BAblica">Transparencia y acceso a información pública</a></span> <br>
    <span><a href="https://usodedatospersonales.uniandes.edu.co/es/">Uso de datos personales</a></span> <br>
    <span><a href="https://investigacioncreacion.uniandes.edu.co/es/normatividad">Asociada a la investigación | creación</a></span> <br>
    <span><a href="https://agronegocios.uniandes.edu.co/politicas-de-uso-de-datos/">Políticas de uso</a></span> <br>
  </div>

  <div class="container_footer_colum">
    <hr class="div-line">
    <h6>ENLACES RÁPIDOS</h6>
    <span><a href="https://metcore.uniandes.edu.co/es/quienes-somos">¿Quiénes somos?</a></span> <br>
    <span><a href="https://metcore.uniandes.edu.co/es/quienes-somos">¿Qué hacemos?</a></span> <br>
    <span><a href="https://metcore.uniandes.edu.co/es/investigaci%C3%B3n-y-formaci%C3%B3n">Investigación y formación</a></span> <br>
    <span><a href="https://metcore.uniandes.edu.co/es/cont%C3%A1ctanos">Cotización y reservas</a></span> <br>
    <span><a href="https://metcore.uniandes.edu.co/es/cont%C3%A1ctanos">Contáctanos</a></span> <br>
  </div>

  <div class="container_footer_colum">
    <hr class="div-line">
    <h6>WEBSITE CREDITS</h6>
    <span>Elaboration of the website</span>
    <p> Maidy L. Cabrera Penna <br>
      m.cabrerap@uniandes.edu.co - <a href="https://www.linkedin.com/in/maidycabrera/" target="_blank"
        class="fa fa-linkedin" style="color: white;">&nbsp;&nbsp;LinkedIn </a>
    </p>
    <br>
    <span>Colaboration in the elaboration of the website</span> <br>
    <p> Felipe A. Mesa Niño<br>
      f.mesan@uniandes.edu.co - <a href="https://www.linkedin.com/in/felipe-mesa-b74381257" target="_blank"
        class="fa fa-linkedin" style="color: white;">&nbsp;&nbsp;LinkedIn </a>
    </p>
    <br>
    <span>Icons and documentation:</span>
    <div>
      <p>The icons are from: <a href="https://fontawesome.com/license" target="_blank" rel="noopener">&nbsp; Font Awesome</a>
      </p>
      <p>Documentation Based in: <a href="https://www.w3schools.com" target="_blank" rel="noopener">&nbsp; W3Schools</a></p>
    </div>
  </div>
</div>

<div class="derechos_reservados">
  <div class="column1_dr">
    <div>
      <p><span>Universidad de los Andes | Vigilada
          Mineducación</span><br><span> Reconocimiento como Universidad: Decreto 1297 del
          30 de mayo de 1964. </span><br><span> Reconocimiento personería jurídica:
          Resolución 28 del 23 de febrero de 1949 Minjusticia.</span></p>
    </div>
  </div>

  <div class="column2_dr">
    <div>
      <p>&nbsp;<span>&copy;- Derechos Reservados Universidad de los Andes</span></p>
    </div>
  </div>
</div>