* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.container_footer {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  text-decoration: none;
}

.container_footer_colum {
  width: 25%;
  text-align: left;
  font-family: Lato;
  font-size: 9pt;
  padding: 3%;
  line-height: 1.8;
}

.div-line {
  width: 80%;
  height: 1px;
  background-color:  #ffec00;
  border: none;
  margin-bottom: 10px;
}

h6 {
  font-size: 9pt;
  font-weight: bold;
}

p {
  font-size: 8pt;
  margin: 0px;
}

a:hover{
  text-decoration: underline;
}

a{
  text-decoration: none;
}

.derechos_reservados {
  width: 100%;
  height: auto;
  text-align: left;
  width: 100%;
  font-size: 7pt !important;
  font-family: Lato;
  color: #767779;
  line-height: 1.2;
}

.column1_dr,
.column2_dr {
  float: left;
  width: 50%;
  padding-top: 1%;
  height: 100px;
}

.column1_dr{
  padding-left: 25%;
}

.column2_dr{
  padding-left: 5%;

}

@media screen and (min-width: 300px) and (max-width: 650px) {
  .row:after {
    display: block;
    clear: both;
    min-height: 160px;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .row:after {
    height: 1200px;
    display: block;
    padding: 0px;
  }

  .content {
    margin-left: 75px;
    font-size: 10px;
  }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  .row:after {
    height: 600px;
    display: block;
    padding: 0px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1200px) {
  .row:after {
    height: 300px;
    display: block;
    padding: 0px;
  }
}