* {
  box-sizing: border-box;
  background-color: #33353d;
  color: white;
}

.column1 {
  float: left;
  width: 50%;
  padding: 20px;
  padding-right: 50px;
  height: 250px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 20px;
  padding-right: 20px;
  height: 250px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  min-height: 160px;
  height: auto;
}

.icon-bar {
  padding-top: 20px;
  background-color: #33353d;
  float: center;
  text-align: center;
}

.icon-bar a:hover {
  background-color: #5c5c5f;
}

.facebook {
  background: #3B5998;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.linkedin {
  background: #007bb5;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.youtube {
  background: #bb0000;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

.derechos_reservados {
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .row:after {
    height: 1200px;
    display: block;
    padding: 0px;
  }

  .content {
    margin-left: 75px;
    font-size: 10px;
  }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  .row:after {
    height: 350px;
    display: block;
    padding: 0px;
  }

  .content {
    margin-left: 75px;
    font-size: 20px;
  }
}