<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Publications</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h2 class="w3-center" style="font-weight: bold;">Our work!</h2>
  <h4 class="w3-center"><em>Here you will find our most recent publications.</em></h4><br>

  <div class="information-research">

    <div class="card">
      <img
        src="https://www.mdpi.com/micromachines/micromachines-13-00970/article_deploy/html/images/micromachines-13-00970-g001.png"
        style="width:auto; height: 120px; ">

      <a href="https://www.mdpi.com/2072-666X/13/6/970">
        <h6> CFD Analysis and Life Cycle Assessment of Continuous Synthesis of Magnetite Nanoparticles Using 2D and 3D
          Micromixers.</h6>
      </a>
    </div>

    <div class="card">
      <img
        src="https://pub.mdpi-res.com/membranes/membranes-12-00298/article_deploy/html/images/membranes-12-00298-ag.png?1646805205"
        style="width:auto; height: 120px; ">

      <a href="https://www.mdpi.com/2077-0375/12/3/298#">
        <h6>  Comparison of Acetaminophen Degradation by Laccases Immobilized by Two Different Methods via a Continuous Flow Microreactor Process Scheme.</h6>
      </a>
    </div>

    <div class="card">
      <img
        src="https://www.mdpi.com/pharmaceutics/pharmaceutics-14-00315/article_deploy/html/images/pharmaceutics-14-00315-g001.png"
        style="width:auto; height: 120px; ">

      <a href="https://www.mdpi.com/1999-4923/14/2/315">
        <h6>  Microfluidic Synthesis and Purification of Magnetoliposomes for Potential Applications in the Gastrointestinal Delivery of Difficult-to-Transport Drugs.</h6>
      </a>
    </div>

    <div class="card">
      <img
        src="https://www.mdpi.com/nanomaterials/nanomaterials-12-01688/article_deploy/html/images/nanomaterials-12-01688-g001.png"
        style="width:auto; height: 120px; ">

      <a href="https://www.mdpi.com/2079-4991/12/10/1688">
        <h6> Treatment of Wastewater, Phenols and Dyes Using Novel Magnetic Torus Microreactors and Laccase Immobilized on Magnetite Nanoparticles.</h6>
      </a>
    </div>

    <div class="card">
      <img
        src="https://www.mdpi.com/nanomaterials/nanomaterials-12-00489/article_deploy/html/images/nanomaterials-12-00489-g001.png"
        style="width:auto; height: 120px; ">

      <a href="https://www.mdpi.com/2079-4991/12/3/489">
        <h6> Toxicity of Modified Magnetite-Based Nanocomposites Used for Wastewater Treatment and Evaluated on Zebrafish (Danio rerio) Model.</h6>
      </a>
    </div>

    <div class="card">
      <img
        src="https://www.mdpi.com/nanomaterials/nanomaterials-12-01688/article_deploy/html/images/nanomaterials-12-01688-g002.png"
        style="width:auto; height: 120px; ">

      <a href="https://www.sciencedirect.com/science/article/abs/pii/S0956566322000458?via%3Dihub">
        <h6> Wearable and fully printed microfluidic nanosensor for sweat rate, conductivity, and copper detection with healthcare applications.</h6>
      </a>
    </div>

   
</div>
<div>

<a href="https://scholar.google.com/citations?hl=en&user=6QQ-dqMAAAAJ&view_op=list_works&sortby=pubdate" target="_blank"><button
  class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px" href>Learn more...</button></a>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i
      class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>