<section>
    <app-header></app-header>
</section>

<div class="bg-img">
    <app-navbar></app-navbar>
</div>

<section class="about-section">
    <h1> Our Members</h1>
    <p>
        Inside our team, there are three paths one can follow: Development of Equipment & Technology; State-of-the-art
        Research; and Industrial & Market Applications. Once you choose a path you will contribute in a significant
        manner to our goals.
        The decision is upon every applicant but each path requieras different abilities and skills. Our members are
        presented here according to their major contribution..</p>
</section>


<div class="divOurReseaerchers">
    <img src="../../../../assets/images/OurResearchers.jpg" alt="logo" class="img">
</div>

<section class="information-research">
    <div>
        <h4> Development of equipment</h4>
        <div class="area"> The second path, development of equipment and technology, is followed by those interested in
            solving
            inner needs of the group, such as new and specialized equipment, or specific set ups that ease the work of
            the people involved in the first path. This means that people from the second path will build up tools and
            equipment that will help researchers to focus on their goals and not on secondary targets. This path
            comprises a medium risk and a middle term development, and in the same way a moderate remuneration in case
            of exploitation.</div>
    </div>
    <div>
        <h4> State of the art Research</h4>
        <div class="area"> The first path is composed by those students and researchers that want to follow a complete
            scientific
            career, understanding that about 70% of their developments are not going to solve the problem that they are
            targeting. This path comprises a high risk and a long term development, but a high remuneration if the
            research is successfully translated.</div>
    </div>
    <div>
        <h4> Industrial and market application</h4>
        <div class="area"> This third path is planned for those eager to bring our new developments and technologies to
            the real
            world, the industry or a new start up idea. These people work taking every produced invention or technology
            and transforming it to an attractive product for the industry. In this process, the people in this path have
            to read and understand the needs of the industrial sector and transform our inventions into something solid,
            tangible and of course, saleable.</div>
    </div>
</section>

<br>
<section class="information-research">
    <button class="audiovisual">
        <div ><a href=" https://www.linkedin.com/in/johann-faccelo-osma-97986a8b?originalSubdomain=co"
            target="_blank" class="fa fa-camera" style="font-weight: bold; text-decoration: none;">&nbsp;&nbsp;Watch the ilustrated video about the paths </a> <br> </div>
    </button>

    <button class="audiovisual">
        <div class="audivisual"><a href=" https://www.youtube.com/watch?v=Z33u2tz-DYo" target="_blank"
            class="fa fa-video-camera" style="font-weight: bold; text-decoration: none;" >&nbsp;&nbsp;Watch the sketch video about the paths </a> <br> </div>
    </button>

    <button class="audiovisual">
        <div class="audivisual"><a
            href=" https://cmua.uniandes.edu.co/images/stories/Biomicrosistemas/support_files/Paths.pdf" target="_blank"
            class="fa fa-download" style="font-weight: bold; text-decoration: none;">&nbsp;&nbsp;Download a presentation about the paths </a> <br> </div>
    </button>  
   
</section>

<br>
<section>
    <div class="explications">
        This three-path strategy has worked perfectly for our group, making it possible to do research at the same time
        that we can afford to have a brochure of products and developments to offer. But behing the scenes, there is a
        more powerful strategy, one involving know-how transfer. In our research line we have identified those thigns we
        know how to do. That know-how has been transcribed to a table in which every person in the team has a level of
        trainig in each known technique. Thus, if someone needs to use a certain technique, it will be trained by
        anybody that has a greater training, independently of their background, age, time in the team, or so. Your only
        commitment to the group is that if you were trained, you will train others. In that sense, even the "boss" may
        have to ask for permission and supervision to use certain techniques if he is not fully trained. This model
        helps us to train young students in a ashort time for them to be able to create a positive impact in our
        development.
    </div>
    <br>
    <br>
    <div style="display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;">
        <button class="audiovisual">
            <div class="audivisual"><a href="https://www.youtube.com/channel/UCfmxihbU917yr2A-JMXCh5w" target="_blank"
                class="fa fa-video-camera" style="font-weight: bold; text-decoration: none;">&nbsp;&nbsp;Watch some of our team members talking about their training process
            </a> <br> </div>
        </button>
    </div>
    
    
</section>

<br>
<br>
<hr size="2px" color="black" />
<br>

<h3 style="font-weight: bold;  padding-left: 20px;  padding-bottom: 20px; font-size: 2rem;"> Our Researchers</h3>

<div class="information-research">
    <div class="card">
        <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/johan.jpg"
            alt="John" class="styles-photos">
        <h4>Johann F. Osma</h4>
        <h6 class="h6-titlle">PhD in Chemical, Environmental & <br> Process Engineering</h6>
        <h6 class="oblicue">Nanotechnology</h6>
        <h6> jf.osma43@uniandes.edu.co <br> <a
                href=" https://www.linkedin.com/in/johann-faccelo-osma-97986a8b?originalSubdomain=co" target="_blank"
                class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                Andes</strong></h6>
        <div>
            <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
            <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
            <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                    class="fa fa-facebook"></i></a>
            <br>

        </div>
    </div>
</div>

<!-- Section tab -->
<div> <!--Tags de los mie-->
    <button class="tablink" (click)="openPage('StateArtReasearch', $event.target, '#ffd200')" >State
        of the Art Research</button>
    <button class="tablink" (click)="openPage('IndustrialMarketApplications', $event.target, '#ffd200')" id="defaultOpen">Industrial &
        market
        Applications</button>
    <button class="tablink"
        (click)="openPage('DevelopmentEquipmentAndTechnology', $event.target, '#ffd200')">Development of Equipment and
        Technology</button>
    <button class="tablink" (click)="openPage('Graduates', $event.target, '#ffd200')">Graduates</button>

    <div id="IndustrialMarketApplications" class="tabcontent">
        <div class="information-research">

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/DianaSotelo.jpeg"
                    alt="John" class="styles-photos">
                <h4>Diana C. Sotelo </h4>
                <h6 class="h6-titlle"> Biomedical Engineer & <br> MSc. Electronics Engineering</h6>
                <h6> dc.sotelo10@uniandes.edu.co <br> <a href="https://www.linkedin.com/in/diana-sotelo-brice%C3%B1o-670a491a7/"
                        target="_blank" class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/MaidyC.jpeg"
                    alt="John" class="styles-photos">
                <h4> Maidy L. Cabrera Penna </h4>
                <h6 class="h6-titlle"> Physical Engineer & <br>MSc. Electronics Engineering </h6>
                <h6> m.cabrerap@uniandes.edu.co <br> <a href="https://www.linkedin.com/in/maidycabrera/"
                        target="_blank" class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/MaidyCabrera/" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/maidy.cabrera/" target="_blank"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/FelipeAMesa.jpg"
                    alt="John" class="styles-photos">
                <h4> Felipe A. Mesa Niño </h4>
                <h6 class="h6-titlle">Electronics Engineering & <br>Systems and Computing Engineering</h6>
                <h6> f.mesan@uniandes.edu.co <br> <a href="https://www.linkedin.com/in/felipe-mesa-b74381257" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/cantgetpastmesa"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/NicolasLaverde.jpeg"
                    alt="John" class="styles-photos">
                <h4> Nicolas Laverde </h4>
                <h6 class="h6-titlle">MSc. Systems and Computer Engineering </h6>
                <h6> n.laverdem@uniandes.edu.co <br> <br> <a href=" https://www.linkedin.com/in/nicolas-laverde" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/DanielaGutSer.jpeg"
                    alt="John" class="styles-photos">
                <h4> Daniela Gutiérrez Serrano </h4>
                <h6 class="h6-titlle">Electrical & Electronics Engineer </h6>
                <h6> d.gutierrezs@uniandes.edu.co <br> <br> <a href=" https://www.linkedin.com/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/boris.jpeg"
                    alt="John" class="styles-photos">
                <h4> Boris Nicolás Reyes Rincón </h4>
                <h6 class="h6-titlle">Systems & Computing Engineering </h6>
                <h6> b.reyesr@uniandes.edu.co <br> <br> <a href=" https://www.linkedin.com/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/MariaG.jpeg"
                    alt="John" class="styles-photos">
                <h4> María Gabriela Mejía </h4>
                <h6 class="h6-titlle">Biomedical Engineering </h6>
                <h6> b.reyesr@uniandes.edu.co <br> <br> <a href=" https://www.linkedin.com/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/MarcelaS.jpeg"
                    alt="John" class="styles-photos">
                <h4> Marcela Sabogal </h4>
                <h6 class="h6-titlle">Electronic & Biomedical, Engineer </h6>
                <h6> lm.sabogalg@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/laura-marcela-sabogal-guerrero-129b3b179/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/desconocido.png"
                    alt="John" class="styles-photos">
                <h4> Luis David Valderrama Hurtado </h4>
                <h6 class="h6-titlle">Electronic Engineering </h6>
                <h6> ld.valderrama@uniandes.edu.co <br> <br> <a href="www.linkedin.com/in/luisdavidvalderrama" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/JManuRivera.jpeg"
                    alt="John" class="styles-photos">
                <h4> Juan Manuel Rivera </h4>
                <h6 class="h6-titlle">Software Engineer <br> Psychologist </h6>
                <h6> jm.rivera@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/juanma-rivera/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/desconocido.png"
                    alt="John" class="styles-photos">
                <h4> Juan Francisco Hernandez </h4>
                <h6 class="h6-titlle">Electronics Engineer </h6>
                <h6> jf.hernandezc@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/juan-francisco-hernandez-cardona-9239571b9" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/AlejandroRamBar.jpeg"
                    alt="John" class="styles-photos">
                <h4> Alejandro Ramírez Barrera </h4>
                <h6 class="h6-titlle">Biomedical Engineer </h6>
                <h6> la.ramirezb@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/alejandro-ramirez-3a8692232" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

        </div>
    </div>

    <div id="StateArtReasearch" class="tabcontent">
        <div class="information-research">

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/LauraJ.jpeg"
                    alt="John" class="styles-photos">
                <h4> Laura J. Cortes </h4>
                <h6 class="h6-titlle">Biomedical Engineering</h6>
                <h6> lj.cortesg@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/laura-cort%C3%A9s-garc%C3%ADa-03288a23b/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los
                        Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/AlejandroR.jpg"
                    alt="John" class="styles-photos">
                <h4> Alejandro Ramírez Barrera </h4>
                <h6 class="h6-titlle">Biomedical Engineering</h6>
                <h6> la.ramirezb@uniandes.edu.co <br> <br><a href="https://www.linkedin.com/in/alejandro-ramirez-3a8692232/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los
                        Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/PaulaC.jpeg"
                    alt="John" class="styles-photos">
                <h4>Paula Catalina Cifuentes </h4>
                <h6 class="h6-titlle"> BSc. Biomedical Engineering &<br>MSc. Biomedical Engineering</h6>
                <h6> pc.cifuentes@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/paula-cifuentes-delgado-855104246"
                        target="_blank" class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/LauraDaniela.jpeg"
                    alt="John" class="styles-photos">
                <h4> Laura Daniela Sotelo Briceño </h4>
                <h6 class="h6-titlle">Microbiologist <br> Biomedical Engineering</h6>
                <h6> ld.sotelo@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los
                        Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/CristianF2.jpeg"
                    alt="John" class="styles-photos">
                <h4> Cristian F. Rodriguez </h4>
                <h6 class="h6-titlle">Biomedical & MSc. Biomedical <br> Engineering</h6>
                <h6> cf.rodriguez@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/cristian-felipe-rodr%C3%ADguez-ospino/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los
                        Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/JuanCamiloA.jpg"
                    alt="John" class="styles-photos">
                <h4> Juan Camilo Arias </h4>
                <h6 class="h6-titlle">Electronic Engineer</h6>
                <h6> jc.ariasc@uniandes.edu.co <br> <br> <a href="www.linkedin.com/in/jcac0908" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los
                        Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

        </div>
    </div>

    <div id="DevelopmentEquipmentAndTechnology" class="tabcontent">
        <div class="information-research">
            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/LauraC.jpeg"
                    alt="John" class="styles-photos">
                <h4> Laura Daniela Gallego Garcia </h4>
                <h6 class="h6-titlle">Electronic Engineering</h6>
                <h6> ld.gallego@uniandes.edu.co <br> <br> <a
                        href=" https://www.linkedin.com/in/laura-daniela-gallego-garc%C3%ADa-9a9116215" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>
            
            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/OscarA.jpg"
                    alt="John" class="styles-photos">
                <h4> Oscar Andres Nontoa Navarrete </h4>
                <h6 class="h6-titlle">Biomedical Engineer & Microbiology</h6>
                <h6> o.nontoa@uniandes.edu.co <br> <br> <a
                        href="www.linkedin.com/in/oscar-andres-nontoa-navarrete-415a3a219" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/LuisaF.jpeg"
                    alt="John" class="styles-photos">
                <h4>Luisa Fernanda Fuentes Melo </h4>
                <h6 class="h6-titlle"> Biomedical and Electronics Engineer</h6>
                <h6> lf.fuentes@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/luisa-fernanda-fuentes-melo-75b552241"
                        target="_blank" class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/desconocido.png"
                    alt="John" class="styles-photos">
                <h4> Catalina de la Torre Acuña </h4>
                <h6 class="h6-titlle">Biomedical engineer & Biology</h6>
                <h6> c.delatorrea@uniandes.edu.co <br> <br> <a href=" www.linkedin.com/in/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div id="Graduates" class="tabcontent">
        <div class="information-research">
            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/ChistianS2.jpeg"
                    alt="John" class="styles-photos">
                <h4> Crhistian C. Segura </h4>
                <h6 class="h6-titlle"> Mechatronic Engineering, <br> Ms.C. Mechatronic Engineering <br>& Ph.D. Engineering </h6>
                <h6 class="oblicue">Industrial & market Applications</h6>
                <h6> cc.segura@uniandes.edu.co <br> <a
                        href="  https://www.linkedin.com/in/crhistian-camilo-segura-gómez-315a5289/" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div> 

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/Amaimen.jpg"
                    alt="John" class="styles-photos">
                <h4> Amaimen Guillén Pacheco </h4>
                <h6 class="h6-titlle"> Electronic Engineer & <br> PhD Student (c) in Engineering </h6>
                <h6 class="oblicue">State of the art Research</h6>
                <h6> aa.guillon@uniandes.edu.co <br> <a href="https://www.linkedin.com/in/amaimen-guillén-pacheco-581522145"
                        target="_blank" class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br>
                    <strong>Universidad de los Andes</strong>
                </h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>

            <div class="card">
                <img src="https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Individual-photos/MiguelAroca.jpeg"
                    alt="John" class="styles-photos">
                <h4> Miguel Angel Aroca </h4>
                <h6 class="h6-titlle"> Ph.D. Engineering & Electronic Engineer </h6>
                <h6 class="oblicue"> Research of the state of the art</h6>
                <h6> aa.aroca@uniandes.edu.co <br> <br> <a href="https://www.linkedin.com/in/miguel-angel-aroca" target="_blank"
                        class="fa fa-linkedin" style="color: blue;">&nbsp;&nbsp;LinkedIn </a> <br> <strong>Universidad de los
                        Andes</strong></h6>
                <div>
                    <a href="https://www.youtube.com/watch?v=KZ58tQCiv0A"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/Biomicrosystems/"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/groups/577532002284046/?mibextid=6NoCDW"><i
                            class="fa fa-facebook"></i></a>
                    <br>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="information-research">
   

</div>
<br>
<br>
<br>
<app-footer></app-footer>