.bg-img {
    background-image: url("https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Teams-photos/photo-page-member-teams.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 64px;
    text-align: center;
    background-color: white;
    color: black;
    box-sizing: border-box;
    margin: 10px 0;
    padding-left: 200px;
    padding-right: 200px;
}

@media screen and (max-width: 650px) {
    .about-section {
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
}

.img {
    width: 90%;
    text-align: center;
}

.divOurReseaerchers {
    display: grid;
    place-items: center;
}

.information-research {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 15px;
}

h4 {
    font-size: 1rem;
    text-decoration: overline;
    font-weight: bold;
    text-align: center;
}

.audivisual {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

h6 {
    font-size: 0.97rem;
    text-align: center;
}

.oblicue {
    font-size: 0.97rem;
    text-align: center;
    font-style: oblique;
}

span {
    text-align: left;
    padding: 10px;
    font-size: 0.9rem;
}

.div-colum {
    display: inline-flex;
    padding: 15px;
    gap: 25px;
    width: 100%;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(162, 162, 160, 0.672);
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 360px;
    min-width: 290px;
    width: auto;
}

.explications {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.styles-photos {
    width: auto;
    height: 35%;
    margin-top: 10px;
    border-radius: 60px;
}

.area {
    text-align: left;
    padding: 10px;
    font-size: 0.9rem;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    height: 75px;
}

@media screen and (max-width: 650px) {
    .tablink {
        padding: 10px 12px;
        font-size: 12px;
        height: 120px;
    }
}

@media screen and (max-width: 1080px) {
    .tablink {
        padding: 12px 14px;
        font-size: 14px;
        height: 120px;
    }
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.audiovisual {
    background: rgba(162, 162, 160, 0.672);
    border-radius: 20px;
    font-weight: bold;
    padding: 10px;
}

button:hover {
    background: rgb(255, 210, 0);
}

#IndustrialMarketApplications,
#StateArtReasearch,
#DevelopmentEquipmentAndTechnology,
#Graduates {
    background-color: white;
    color: black;
}
