<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">50+</span><br>
    Members
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">100+</span><br>
    Publications
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">15+</span><br>
    Projects
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">4+</span><br>
    Research areas
  </div>
</div>

<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Projects</span>
  </div>
</div>

<div class="row">
  <a href="http://45.61.54.143/" target="_blank">
    <div class="column">
      <div class="card"
        style="background-image:url(../../../../assets/images/logoPAWL13.png); background-size: cover; background-position: center;">
        <h3></h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>This control system enables remote monitoring and control of a potentiostat.</p>
      </div>
    </div>
  </a>

  <a href="https://github.com/Biomicrosystems/Documentation/tree/main/DIY%20Book" target="_blank">
    <div class="column">
      <div class="card">
        <h3>Racks</h3>
        <p> This is a laboratory tool (mainly in molecular biology, genetics and chemistry laboratories), which is used
          as a support to store and hold test tubes or sample tubes.</p>
      </div>
    </div>
  </a>

  <a href="https://github.com/Biomicrosystems/Documentation/tree/main/DIY%20Book" target="_blank">
    <div class="column">
      <div class="card">
        <h3>Impedance Meter</h3>
        <p>This is a device that allows for the measurements of impedance or resistance to the flow of an alternating
          current. </p>

      </div>
    </div>
  </a>


  <a href="https://github.com/Biomicrosystems/Documentation/tree/main/DIY%20Book" target="_blank">
    <div class="column">
      <div class="card">
        <h3>Image Processing Software</h3>
        <p>When working with images taken through microscopy, it is often needed to take accurate measurements of
          objects within the image.</p>

      </div>
    </div>
  </a>

</div>

<div class="row">
  <a href="https://github.com/Biomicrosystems/Documentation/tree/main/DIY%20Book" target="_blank">
    <div class="column">
      <div class="card">
        <h3>Magnetic Field Meter</h3>
        <p>Magnetic field meters are devices which allow to measure magnetic flux density and magnetic field exposure
        </p>
      </div>
    </div>
  </a>


  <a href="https://github.com/Biomicrosystems/Documentation/tree/main/DIY%20Book" target="_blank">
    <div class="column">
      <div class="card">
        <h3>Thermal Bath</h3>
        <p>This is an instrument used to maintain a solution at a constant temperature. </p>
      </div>
    </div>
  </a>


  <a href="https://github.com/Biomicrosystems/Documentation/tree/main/DIY%20Book" target="_blank">
    <div class="column">
      <div class="card">
        <h3>Thermal Camera</h3>
        <p>Thermal cameras are electronic devices which detect infrared wavelengths and allow to detect heat signatures
        </p>
      </div>
    </div>
  </a>

  <a href="https://github.com/Biomicrosystems/Documentation/tree/main/DIY%20Book" target="_blank">
    <div class="column">
      <div class="card">
        <h3>Heating Plate</h3>
        <p>A heating plate is a small, portable, and autonomous desktop appliance that has one or more electrical
          heating elements, and is used to heat containers with liquids, in a controlled way</p>
      </div>
    </div>
  </a>
</div>