<div class="navbar">
    <a routerLink ="/biomicrosystem/Signup" routerLinkActive="active"><i class="fa fa-fw fa-search"></i> Sign Up</a> 
    <a routerLink="/biomicrosystem/home" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home</a>
  </div>


<main class="container">
    <section class="box1 logo" >
    </section>

    <section class="box2">
        <div class="login-box">
            <h2>BioMycrosystems</h2>
            <form>
              <div class="user-box">
                <input type="text" name="" required="">
                <label>Email</label>
              </div>
              <div class="user-box">
                <input type="Contraseña" name="" required="">
                <label>Password</label>
                <!-- <p class="prueba">Not a menber? Signup now </p> -->
              </div>
              <div>
                
                <a href="#">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  Sign in
                </a>
              </div>
            </form>
              </div> 
    </section>

</main>

<app-footer></app-footer>