<section>
    <app-header></app-header>
</section>

<div class="bg-img">
    <app-navbar></app-navbar>
</div>

<div class="about-section">
    <h1> Research areas and projects</h1>
    <p> Our main areas involves Environmental monitoring, Detection of hazardous compounds, Technology for defense,
        Technology for aerospace and the Development of equipment.
        In most areas you can find several microsystems, sensors and biosensors, as well as nanotech techniques. Some of
        these projects are undergoing tech transfer and entrepreneurship.
    </p>
</div>

<div class="content-card">
    <button type="button" class="collapsible">Environmental <i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="content">
        <p class="class=h6-titlle">Environmental monitoring is an area that comprises gas detection (e.g. O2, COx, SOx)
            and waste monitoring (e.g. biomass, biogas production). Our team developes sensors and biosensors for these
            purposes using MOx (Metal-Oxide), IR (Infrared), polymeric nanolayers, surface functionalization and
            microsystem fabrication technologies.

            In addition, we develop specific electronics to incorporate there sensors into field-equipment.

            <br>

            <img src="../../../../assets/images/enviroment.png"
                style=" display: block; margin: 0 auto; padding-top: 10px;padding-bottom: 10px;">

            <br>

            <span> <strong>Gas Sensors</strong>
                <br>Development of gas microsensor using MOx (Metal-Oxide), surface functionalization and polymeric
                nanolayers is one of our main components in these area. However, our technology is not limitated by
                those techniques. IR (Infrared) technology is a promising technology in the detection and quantification
                of gases. Until now, we have developed several gas sensors using multiple technologies, our brochure
                includes oxygen, COx, H2S and SOx gases.</span>

            <br>
            <br>

            <span> <strong>Micro-respirometer</strong>
                <br>We develope new equipment and technology for in-situ measurements of biomass in waste treatment
                plants and farms. Our system is capable of establishing the biomass of a real sample in a matter of 90
                minutes without the need of labs or experts. The complete equipment measures the biomass of different
                samples and gives the detailes information in electronic format so it can be downloaded using a USB
                port. The measuring device is a low cost (<$5 USD) disposable element while the reading equipment is
                    fully portable.</span>

                    <br>
                    <br>

                    <span> <strong>Bioreactors</strong>
                        <br>Using the microfabrication technology, we can produce different and configurable bioreactors
                        on glass or transparent polymers to grow bacteria, yeast, fungi or algea. Our technology has
                        been tested for several strains and can be complemented with passive microelectronics to detect
                        variations of the cultures.</span>
        </p>
    </div>
</div>


<div class="content-card">
    <button type="button" class="collapsible">Detection<i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="content">
        <p class="class=h6-titlle">Detection of hazardous compounds includes the development of sensors and biosensors
            to quantify or identify compounds in solution. These sensors are based on enzymes, antibodies or living
            microorganisms.
            In addition, the development of technologies, equipment, tools and artifacts for blood stream analysis and
            medical training.

            <br>

            <img src="../../../../assets/images/deteccion.jpg"
                style=" display: block; margin: 0 auto; padding-top: 10px;padding-bottom: 10px;">

            <br>

            <span> <strong>Virus detection biomicrosystems</strong>
                <br>Development of a biomicrosystem that allows more than 90 simultaneous analysis for the detection of
                the HPV (Human papilloma virus) in-situ. The biomicrosystem is portable, inexpensive and simple to use
                and read.
            </span>

            <br>
            <br>

            <span> <strong> Biosensors for the detection of hazardous compounds in water</strong>
                <br>Development of different biosensors, based on enzymes, living and confined microorganisms and MOx
                (Metal Oxide) technology for the detection and quantification of hazardous compounds, such as phenols
                and heavy metals, in liquid samples.
            </span>

            <br>
            <br>

            <span> <strong>Optical recognition system for microfluidic analysis and blood stream studies</strong>
                <br>Development of an optical recognition system with microfluidics manipulation for real-time analysis
                of blood samples, drug delivery inside artificial arteries and 3D reconstruction of microfluidics, fluid
                analysis and particle tracking. It also includes the development of artificial transparent arteries for
                medical studies.
            </span>
        </p>
    </div>
</div>

<div class="content-card">
    <button type="button" class="collapsible">Defense<i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="content">
        <p class="class=h6-titlle">Technology for defense includes the development of sensors, fabric and suit
            manipulation and electronic systems integrated as interdisciplinary solutions.
            All the developed technology are compatible and can be integrated into different devices and platforms.

            <br>

            <img src="../../../../assets/images/defense.jpg"
                style=" display: block; margin: 0 auto; padding-top: 10px;padding-bottom: 10px;">

            <br>

            <span> <strong>Explosive Sensors</strong>
                <br>Development of explosive material by the detection of gases. Our technology is based on MOx (Metal
                Oxide) and surface functionalization technology and elastomers or glass-based substrates. The sensors
                are complemented by the designed electronics for close-range wireless technology or portable
                electronics.
            </span>

            <br>
            <br>

            <span> <strong> Hydrophobic and water resistant nanotechnology</strong>
                <br>Based on nanotechnology surface modification we have developed a technique for making fabrics and
                leather superhydrophobis. The technology has a nanometer size and it is clear yellow. Part of this
                technology has been transfered to one of our start up companies: nanoTactics.
            </span>

            <br>
            <br>

            <span> <strong>Electronics communication systems</strong>
                <br>Development of short and mid-range communication systems integrated into suits and accesories. These
                systems can be integrated to sensor technology.
            </span>
        </p>
    </div>
</div>

<div class="content-card">
    <button type="button" class="collapsible">Aerospace<i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="content">
        <p class="class=h6-titlle">Technology for aerospace includes the development of microsystems and special
            electronics for aerospace crafts.
            Also, together with different Schools and Departments of los Andes University, we participate in the Andes
            Aerospace Project (PUA). We are in charge of the electronic components that comprises the real-time
            communication system, sensors, processors, electric power and ignition control.
        </p>
    </div>
</div>

<div class="content-card">
    <button type="button" class="collapsible">Equipment<i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="content">
        <p class="class=h6-titlle">The development of Equipment and Technology includes the design, manufacture and
            fabrication of different equipment and infrastructure for the Clean Room and other laboratories.
            This area includes a section of "Do It Yourself" (DIY) that provides open access documents.
            <br>

            <img src="../../../../assets/images/equipement.jpg"
                style=" display: block; margin: 0 auto; padding-top: 10px;padding-bottom: 10px;">

            <br>

            <span> <strong>3D Microprinters</strong>
                <br>Development of a polymeric 3D printers that can print with a resolution of aroud 5µm3. This printers
                can be easily handled by its own on-board computer that reads USB drives or can be plug thourgh HDMI
                port to any computer.
            </span>

            <br>
            <br>

            <span> <strong> Equipment for Biotechnology, microfluidics and nanotechnology in Smart Town Project</strong>
                <br>Development of different equipment for the experimentation of biotechnology and nanotechnology and
                the use of Internet of Things (IoT) and Android devices. These equipment are design for the use of
                non-trained population.
            </span>

            <br>
            <br>

            <span> <strong>Do it yourself -DIY-</strong>
                <br>Development of several lab equipment that can be easily replicated to add to your lab or
                institution. Fully open source technology including circuitry, mechanical models and software code
            </span>
        </p>
    </div>
</div>

<div class="content-card">
    <button type="button" class="collapsible">Entrepreneurship<i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="content">
        <p class="class=h6-titlle">Lets make it simple, we like entrepreneurs!!!
            Whatever invention, equipment or new technology we developed is susceptible of tech transfer. And of course,
            we do our best to make star ups a real option.</p>
    </div>
</div>

<app-footer></app-footer>