.bg-img {
    background-image: url("https://raw.githubusercontent.com/Biomicrosystems/Documentation/main/Principal-page-biomicrosystems/Teams-photos/photo-page-contact-teams.jpeg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}