<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="../../../../assets/photos/1.jpg " class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/2.jpg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/3.jpg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/4.jpeg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/5.jpg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/6.jpg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/7.jpeg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/8.jpg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/9.jpeg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/10.jpeg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/11.jpeg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/12.jpg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/13.jpeg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/14.jpeg" class="Carousel-Images">
        </div>
        <div class="mySlides fade">
            <img src="../../../../assets/photos/15.jpeg" class="Carousel-Images">
        </div> 
        <div class="mySlides fade">
            <img src="../../../../assets/photos/16.jpg" class="Carousel-Images">
        </div>
        
        <a class="prev" (click)="carousel.plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="carousel.plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" (click)="carousel.currentSlide(1)"></span>
        <span class="dot" (click)="carousel.currentSlide(2)"></span>
        <span class="dot" (click)="carousel.currentSlide(3)"></span>
    </div>
</body>

</html>