<div class="about-section">
    <h1>About Us</h1>
    <p>The team of biomicrosystems, leaded by Dr. Johann F. Osma , has more than 20 researchers from different fields (engineers from electronics, mechanics, chemistry, environmental, civil, and computers; chemists, biologists, microbiologists, anthropologists, artists and designers).</p>
    <p>We work on the development of biosensors and microsystems especially driven for environmental monitoring, detection, defense and aerospace.</p>
  </div>

  
